@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;500;700&family=Roboto:wght@100;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: Roboto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.burger {
  border-radius: 10px;
  background-color: var(--color-blue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  display: none;
}

.burger i {
  font-size: 25px;
  color: var(--color-white);
}

::-webkit-scrollbar {
  background-color: #fff;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #FF4A32;
  border-radius: 10px;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .container {
  max-width: 1440px;
  width: 100%;
}

header .container .financing {
  width: 100%;
  padding: 7px 0;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .financing span {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  color: #fff;
}

header .container .nav {
  width: 100%;
  padding: 15px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container .nav .nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container .nav .nav__menu .nav__link {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000;
  margin-left: 22px;
}

header .container .nav .nav__menu .nav__link:first-child {
  margin-left: 0;
}

header .container .nav .nav__menu .nav__link:hover {
  opacity: .9;
  color: #49362e;
  -webkit-transition: .3s;
  transition: .3s;
  border-bottom: 1px solid #222222;
}

header .container .nav .nav__user-interface {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container .nav .nav__user-interface i {
  font-size: 20px;
  color: #000;
}

header .container .nav .nav__user-interface i:first-child {
  margin-right: 11px;
}

header .container .header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header .container .header__content .header-image {
  max-width: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header .container .header__content .main-title {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .header__content .main-title .header__title {
  font-size: 44px;
  line-height: 51px;
  color: #000;
  margin-top: 55px;
  font-weight: 400;
  z-index: 2;
}

header .container .header__content .main-title .header__subtitle {
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  color: #000;
  letter-spacing: 1px;
  margin-top: 15px;
  z-index: 2;
}

header .container .header__content .main-title .header__buttons {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
}

header .container .header__content .main-title .header__buttons .header__btn {
  width: 170px;
  height: 35px;
  background-color: #FF4A32;
  border-radius: 16px;
  outline: none;
  border: none;
  font-size: 15px;
  line-height: 22px;
  color: #fff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .header__content .main-title .header__buttons .header__btn:first-child {
  margin-right: 15px;
}

header .container .header__content .main-title .header__buttons .header__btn:hover {
  opacity: .9;
  -webkit-transition: .2s;
  transition: .2s;
}

header .container .header__partners {
  max-width: 100%;
  width: 100%;
  padding: 18px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #000;
}

header .container .header__partners .partners__item {
  max-width: 100%;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0 20px;
}

main .products {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .products .products-container {
  max-width: 1440px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .products .products-container .products__title {
  margin-top: 50px;
  font-size: 32px;
  line-height: 36px;
  color: #000;
  font-weight: 400;
}

main .products .products-container .products__text {
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  color: #000;
  letter-spacing: 1px;
  font-size: 13px;
  margin-top: 15px;
  max-width: 685px;
}

main .products .products-container .products__line {
  width: 70px;
  height: 2px;
  background-color: #CFCFCF;
  margin-top: 25px;
}

main .products .products-container .products__items {
  margin-top: 40px;
  max-width: 80%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .products .products-container .products__items .products__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
  padding: 0 10px;
  margin-bottom: 20px;
}

main .products .products-container .products__items .products__item img {
  max-width: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main .products .products-container .products__items .products__item h3 {
  font-size: 25px;
  line-height: 30px;
  color: #fff;
  font-weight: 400;
}

main .products .products-container .products__items .products__item span {
  font-size: 18px;
  line-height: 23px;
  margin-top: 14px;
  color: #fff;
}

main .products .products-container .products__items .products__item .item__text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .electric {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

main .electric .electric-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  max-width: 1440px;
  width: 100%;
}

main .electric .electric-container img {
  max-width: 100%;
  width: 100%;
}

main .electric .electric-container .electric__content {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: absolute;
}

main .electric .electric-container .electric__content:first-child {
  padding-top: 45px;
}

main .electric .electric-container .electric__content .electric__subtitle {
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  color: #000;
  letter-spacing: 1px;
}

main .electric .electric-container .electric__content .electric__title {
  font-weight: bold;
  font-size: 45px;
  line-height: 51px;
  text-align: center;
  color: #000;
  margin: 10px 0 15px 0;
}

main .electric .electric-container .electric__content .electric__btn {
  width: 170px;
  height: 35px;
  background-color: #FF4A32;
  border-radius: 16px;
  outline: none;
  border: none;
  font-size: 15px;
  line-height: 22px;
  color: #fff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

main .electric .electric-container .electric__content .electric__btn:hover {
  opacity: .9;
  -webkit-transition: .2s;
  transition: .2s;
}

main .boosted {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 45px 0;
}

main .boosted .boosted-container {
  max-width: 1440px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .boosted .boosted-container .boosted-img {
  margin-right: 20px;
  min-width: 30%;
}

main .boosted .boosted-container .boosted-img img {
  max-width: 100%;
  width: 100%;
}

main .boosted .boosted-container .boosted__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 87%;
  width: 100%;
}

main .boosted .boosted-container .boosted__items .boosted__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 20px;
}

main .boosted .boosted-container .boosted__items .boosted__content .boosted__title {
  font-size: 32px;
  line-height: 38px;
  color: #000;
}

main .boosted .boosted-container .boosted__items .boosted__content .boosted__subtitle {
  font-size: 15px;
  line-height: 22px;
  color: #000000;
  margin: 21px 0 23px 0;
}

main .boosted .boosted-container .boosted__items .boosted__content .boosted__btn {
  width: 170px;
  height: 35px;
  background-color: #FF4A32;
  border-radius: 16px;
  outline: none;
  border: none;
  font-size: 15px;
  line-height: 22px;
  color: #fff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
}

main .boosted .boosted-container .boosted__items .boosted__content .boosted__btn:hover {
  opacity: .9;
  -webkit-transition: .2s;
  transition: .2s;
}

main .products-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 45px;
}

main .products-2 .products2-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1440px;
  width: 100%;
}

main .products-2 .products2-container .picture-contain {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

main .products-2 .products2-container .picture-contain img {
  max-width: 100%;
  width: 100%;
}

main .products-2 .products2-container .picture-contain .products__item {
  position: absolute;
}

main .products-2 .products2-container .picture-contain .products__item p {
  font-size: 25px;
  color: #fff;
  margin-bottom: 15px;
}

main .products-2 .products2-container .picture-contain .products__item span {
  font-size: 18px;
  color: #fff;
}

main .videos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 64px;
}

main .videos .videos-container {
  max-width: 1440px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .videos .videos-container .videos__items {
  max-width: 76%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

main .videos .videos-container .videos__items .videos-contain {
  width: 100%;
}

main .videos .videos-container .videos__items .videos-contain img {
  max-width: 100%;
  width: 100%;
}

main .buy-details {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .buy-details .buy-details__container {
  max-width: 1440px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .buy-details .buy-details__container .details__title {
  font-size: 32px;
  color: #000;
}

main .buy-details .buy-details__container .details__line {
  margin: 22px 0 42px 0;
  width: 70px;
  height: 2px;
  background: #CFCFCF;
}

main .buy-details .buy-details__container .details {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .buy-details .buy-details__container .details .detail .detail-picture {
  width: 100%;
  position: relative;
}

main .buy-details .buy-details__container .details .detail .detail-picture img {
  max-width: 100%;
  max-height: 100%;
  background-size: contain;
}

main .buy-details .buy-details__container .details .detail .detail-picture .detail-arrow1 {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

main .buy-details .buy-details__container .details .detail .detail-picture .detail-arrow1 img {
  max-width: 100%;
}

main .buy-details .buy-details__container .details .detail .detail-picture .detail-arrow2 {
  position: absolute;
  right: 0px;
  bottom: 0px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

main .buy-details .buy-details__container .details .detail .detail-picture .detail-arrow2 img {
  max-width: 100%;
}

main .buy-details .buy-details__container .details .detail .detail-title {
  font-size: 14px;
  text-align: center;
  color: #FF4A32;
  margin-bottom: 3px;
}

main .buy-details .buy-details__container .details .detail .detail-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

main .buy-details .buy-details__container .details .detail .detail-subtitle p {
  font-size: 14px;
  line-height: 18px;
  color: #373737;
}

main .buy-details .buy-details__container .details .detail .detail-subtitle span {
  font-size: 14px;
  text-align: center;
  color: #FF4A32;
}

main .buy-details .buy-details__container .details-bigLine {
  margin-top: 5px;
  width: 100%;
  height: 66px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 2px 0px 10px rgba(41, 44, 61, 0.34);
          box-shadow: 2px 0px 10px rgba(41, 44, 61, 0.34);
  border-radius: 0px;
}

main .options {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 28px;
}

main .options .options__container {
  max-width: 1440px;
  width: 100%;
  background-color: #000;
}

main .options .options__container .options__options {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 35px 0 50px 0;
}

main .options .options__container .options__options .options__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 25%;
}

main .options .options__container .options__options .options__item img {
  max-width: 100%;
}

main .options .options__container .options__options .options__item .option__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .options .options__container .options__options .options__item .option__content .text-options {
  margin-top: 25px;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #fff;
}

main .options .options__container .options__options .options__item .option__content .title-options {
  margin-top: 5px;
  font-size: 31px;
  line-height: 36px;
  text-align: center;
  color: #fff;
}

main .footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .footer .footer__container {
  max-width: 1440px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .footer .footer__container .footer-blocks {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 130px;
  background: #F7F7F7;
}

main .footer .footer__container .footer-blocks .footer-picture img {
  max-width: 100%;
}

main .footer .footer__container .footer-blocks .footer__explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .footer .footer__container .footer-blocks .footer__explore .explore-title {
  font-size: 20px;
  line-height: 30px;
  color: #000;
  margin-bottom: 10px;
}

main .footer .footer__container .footer-blocks .footer__explore .explore-link {
  font-size: 13px;
  line-height: 21px;
  color: #000;
}

main .footer .footer__container .footer-blocks .footer-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .footer .footer__container .footer-blocks .footer-about .about-title {
  font-size: 19px;
  line-height: 30px;
  color: #000;
}

main .footer .footer__container .footer-blocks .footer-about .about-text {
  font-size: 14px;
  line-height: 21px;
  color: #000;
  max-width: 370px;
  width: 100%;
  margin: 12px 0 19px 0;
}

main .footer .footer__container .footer-blocks .footer-about .about-link {
  font-size: 13px;
  line-height: 21px;
  color: #000000;
}

main .after-footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .after-footer .after-footer__container {
  max-width: 1440px;
  width: 100%;
}

main .after-footer .after-footer__container .footer__payments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 130px 20px 130px;
}

main .after-footer .after-footer__container .footer__payments .payments__rights .rights {
  font-size: 13px;
  line-height: 19px;
  color: #000;
}

main .after-footer .after-footer__container .footer__payments .payments__rights .rights a {
  font-size: 12px;
  line-height: 19px;
  color: #FF4A32;
}

main .after-footer .after-footer__container .footer__payments .payments__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 6px;
}

@media all and (max-width: 1100px) {
  header .contaoner .nav .nav__menu {
    display: none;
  }
  header .contaoner .nav .nav__user-interface {
    display: none;
  }
  header .contaoner .nav .burger {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */